---
component: header-navigation
hide: true
published: false
---

<div class="burger-menu">
	<a href="#" class="action-menu"><i class="icon icon-menu"><b>Navigation Menu</b></i></a>
</div>

<nav class="header-nav navigation" id="navigation" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<h4 class="navigation-title">Navigation</h4>
	<ul class="navigation-menu menu-level-0">
	{{#each navigation}}
	{{!--
		<li>
			<a href="{{url}}" class="{{#if class}}{{class}}{{/if}} {{#is id ../activePageId}}active{{/is}}">
				<span>{{title}}</span>
			</a>
		</li>
	--}}
	{{/each}}
	<li>
		<a href="tel:07444381663">07444 381663</a>
	</li>
	<li>
		<a href="/contact.html">Contact</a>
	</li>
	<li>
		<a href="/gallery.html">Gallery of work</a>
	</li>
	</ul>
</nav>
