---
component: header-logo
hide: true
published: false
---
<h1 class="header-logo" itemscope itemtype="http://schema.org/WPHeader">
	<a href="/">
		<img src="images/af-electrical-logo_blue-white.png" alt="{{project.client}} Logo" />
		<span class="header-logo-text">{{project.client}}</span>
	</a>
</h1>
