---
component: header
hide: true
published: false
---
<header class="header" id="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
	<div class="header-inner">
		<div class="header-inner-container">
			{{>header-logo}}
			{{!-- {{>header-info}} --}}
			{{>header-navigation}}
		</div>
	</div>
</header>
<!-- end #header -->
