---
component: footer
hide: true
published: false
---
<footer class="footer" id="footer" role="contentinfo">
	<div class="footer-inner">
		<div class="footer-info">
			<small class="footer-copyright">&copy; 2015 AF Electrical Services. All rights reserved.</small>
			<small class="footer-tagline">Electrician services for the NorthWest</small>
		</div>
		<div class="footer-contact">
			<ul>
				<li>AF Electrical Services</li>
				<li><a href="tel:07444381663">07444 381663</a></li>
				<li><a href="mailto:contact@af-electrical-services.co.uk">contact@af-electrical-services.co.uk</a></li>
			</ul>
		</div>
	</div>
</footer>
