---
component: footer
hide: true
published: false
---
<footer class="footer" id="footer" role="contentinfo">
	<div class="footer-inner">
		<div class="footer-info">
			<small class="footer-copyright">&copy; 2015 AF Electrical Services. All rights reserved.</small>
			<small class="footer-tagline">Electrician services for the NorthWest</small>
		</div>
		<div class="footer-contact">
			<ul>
				<li>AF Electrical Services Business Address</li>
				<li>Address line 1</li>
				<li>Address line 2</li>
				<li>Address line 3</li>
				<li><a href="tel:07970123456">07970 123456</a></li>
				<li><a href="mailto:email@email.com">email@email.com</a></li>
				<li><a href="#">Sitemap</a></li>
			</ul>
		</div>
	</div>
</footer>
