---
component: heroC
published: false
---

<section class="hero">

    <header class="hero-header">
        <h2 class="hero-title">
            Take a look at a few examples of my work
        </h2>
    </header>

    <div class="hero-media">
    	<picture>
    		<!--[if IE 9]><video style="display: none;"><![endif]-->
    		<!-- 61.25em = 1024px -->
    		<source media="(min-width: 61.25em)" srcset="temp/hero-c.jpg">
    		<!-- 37.5em = 600px -->
    		<source media="(min-width: 37.5em)" srcset="temp/hero-c.jpg">
    		<!--[if IE 9]></video><![endif]-->
    		<!--[if lt IE 9]><img srcset="temp/hero-c.jpg" alt="" /><![endif]-->
    		<!--[if !lt IE 9]><!-->
    		<img srcset="temp/hero-c.jpg" alt="">
    		<!--<![endif]-->
    	</picture>
    </div>

</section>
