---
component: hero
published: false
---

<section class="hero">

    <header class="hero-header">
        <h2 class="hero-title">
            AF Electrical
        </h2>
        <p class="hero-subtitle">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
        <a href="#" class="hero-cta">CTA link</a>
    </header>

    <div class="hero-media">
    	<picture>
    		<!--[if IE 9]><video style="display: none;"><![endif]-->
    		<!-- 61.25em = 1024px -->
    		<source media="(min-width: 61.25em)" srcset="temp/1600x900.gif">
    		<!-- 37.5em = 600px -->
    		<source media="(min-width: 37.5em)" srcset="temp/1600x900.gif">
    		<!--[if IE 9]></video><![endif]-->
    		<!--[if lt IE 9]><img srcset="temp/1600x900.gif" alt="" /><![endif]-->
    		<!--[if !lt IE 9]><!-->
    		<img srcset="temp/1600x900.gif" alt="">
    		<!--<![endif]-->
    	</picture>
    </div>

</section>
