---
title: Gallery
visibleGrid: false
visibleBreakpoints: true
heroTopC: true
---
{{#extend "layout-a"}}
    {{#content "sections-top"}}
    {{/content}}

	{{#content "region-a"}}

    <section class="gallery">
        <header class="gallery-header visually-hidden">
            <h2 class="gallery-title">Gallery of work</h2>
        </header>
        <div class="gallery-thumbs">
            <div class="block block-size-c">
                <a href="#" class="action-gallery-thumb" data-gallery-full-img="images/gallery/electrical-services_a.jpg">
                    <figure class="gallery-thumb">
                        <img src="images/gallery/thumb_electrical-services_a.jpg" alt="electrical service example a" />
                    </figure>
                </a>
            </div>
            <div class="block block-size-c">
                <a href="#" class="action-gallery-thumb" data-gallery-full-img="images/gallery/electrical-services_b.jpg">
                    <figure class="gallery-thumb">
                        <img src="images/gallery/thumb_electrical-services_b.jpg" alt="electrical service example b" />
                    </figure>
                </a>
            </div>
            <div class="block block-size-c">
                <a href="#" class="action-gallery-thumb" data-gallery-full-img="images/gallery/electrical-services_c.jpg">
                    <figure class="gallery-thumb">
                        <img src="images/gallery/thumb_electrical-services_c.jpg" alt="electrical service example c" />
                    </figure>
                </a>
            </div>

            <div class="block block-size-c">
                <a href="#" class="action-gallery-thumb" data-gallery-full-img="images/gallery/electrical-services_d.jpg">
                    <figure class="gallery-thumb">
                        <img src="images/gallery/thumb_electrical-services_d.jpg" alt="electrical service example d" />
                    </figure>
                </a>
            </div>

            <div class="block block-size-c">
                <a href="#" class="action-gallery-thumb" data-gallery-full-img="images/gallery/electrical-services_e.jpg">
                    <figure class="gallery-thumb">
                        <img src="images/gallery/thumb_electrical-services_e.jpg" alt="electrical service example e" />
                    </figure>
                </a>
            </div>
        </div>
    </section>

	{{/content}}
{{/extend}}