---
title: Homepage
visibleGrid: false
visibleBreakpoints: true
heroTop: true
---
{{#extend "layout-a"}}
    {{#content "sections-top"}}
    {{/content}}

	{{#content "region-a"}}
        <article class="body-intro block block-size-a">
            <header class="body-intro-header">
        		<h2 class="body-intro-title">A.F. Electrical Services</h2>
            </header>
            <p>I'm a local electrician in the Bolton/Wigan area of the North West with over 15 years experience in the <strong>domestic</strong>, <strong>commercial</strong> and <strong>industrial</strong> electrical industry.</p>

            <p>I offer a wide range of elecrical services from complete re-wires to the very smallest electrical jobs.</p>

            <p>I also offer extra phone lines and repairs on existing phone lines.</p>

            <p>I am happy to give advice on any questions you may have so feel free to contact me for a free quote.</p>
        </article>

        {{>promo-a promo.promoA}}

        {{>promo-a promo.promoB}}

        {{>cta-a cta.ctaHomepage}}

	{{/content}}
{{/extend}}
