//cta.less

.cta {

	&.cta-style-a {
		text-align: center;
		background-color: @brand-color-d;
		color: #fff;
		padding: @vr*3 @ggw;
	}
}

.cta-header {
	border-bottom: solid @vr #fff;
	margin: 0 @ggw*2;
}

.cta-title {

}

.cta-body {

	.cta-style-a & {
	}

	p {

	}

	a {
		color: #fff;
	}

	.cta-detail {
		margin-bottom: @vr*3;
	}

	.btn-container {
		float: left;
		width: 100%;
		text-align: center;
	}
}